* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10rem;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
header h1 {
  letter-spacing: 10px;
  font-weight: 800;
  background: -webkit-linear-gradient(#b21f1f, #fdbb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-container {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 3rem;
}

.logo-container img {
  max-width: 100px;
}

/* REGISTRATION NUM */
.registration-num {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.registration-num h4 span {
  color: red;
}

main {
  border: solid 2px black;
  min-height: 100vh;
}

section {
  padding-bottom: 1rem;
}

.general-info-header-1 {
  color: #f0f0f0;
  background-image: radial-gradient(circle, #b21f1f 0%, #fdbb2d 100%);
  text-align: center;
  padding: 0.3rem;
  border-bottom: solid 2px black;
}

.general-info {
  padding: 1rem;
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto auto;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.gender-age {
  display: flex;
  gap: 2rem;
}

.general-info-header-2 {
  background-image: radial-gradient(circle, #b21f1f 0%, #fdbb2d 100%);
  color: #f0f0f0;
  padding: 0.3rem;
  border-bottom: solid 2px black;
  border-top: solid 2px black;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-evenly;
  align-items: center;
}

.unit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.unit div {
  display: flex;
  gap: 1rem;
}

.total-units {
  margin-left: -6.8rem;
  display: flex;
  align-items: end;
  gap: 1rem;
}

.total-units div {
  display: flex;
  gap: 1rem;
}

.total-units div h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.general-info-2 {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-evenly;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.schedule-details {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.unit-details {
  display: flex;
  gap: 1.5rem;
}

.unit-details-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.note {
  margin-left: 2rem;
}

.assessment {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.fees {
  width: 40%;
  border: solid 2px black;
}
.fees-heading {
  background-image: radial-gradient(circle, #b21f1f 0%, #fdbb2d 100%);
  color: #f0f0f0;
  text-align: center;
  padding: 0.3rem;
  border-bottom: solid 2px black;
  letter-spacing: 10px;
}
.fees-info {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
}

.fee-title {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.3rem;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: end;
  border-top: solid 2px black;
  padding: 0.2rem;
}

.total div {
  display: flex;
}

.total-price {
  width: 10rem;
  text-align: end;
  margin-right: 0.5rem;
}

.schedule-payment-heading {
  background-image: radial-gradient(circle, #b21f1f 0%, #fdbb2d 100%);
  color: #f0f0f0;
  text-align: center;
  padding: 0.3rem;
  border-bottom: solid 2px black;
  border-top: solid 2px black;
  letter-spacing: 10px;
}

.schedule-payment-info {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.refund h3 {
  text-align: center;
}

.refund ol {
  margin-top: 2rem;
  font-style: italic;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.receipt {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.receipt div {
  display: flex;
  justify-content: space-between;
}

.signature {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

footer {
  margin-top: 10rem;
  align-items: center;
}

footer p {
  text-align: end;
}

footer div {
  border-top: solid 2px black;
  background-image: radial-gradient(circle, #b21f1f 0%, #fdbb2d 100%);
  text-align: center;
  padding: 0.1rem;
  color: #f0f0f0;
}
